<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DepartmentSwiftUI</key>
	<dict>
		<key>environment</key>
		<string>HolyQuranTest</string>
		<key>apiURL</key>
		<string>https://www.dictionaryapi.com</string>
	</dict>
</dict>
</plist>
